body {
    background-color: rgb(253, 209, 172);
}

.container{    
    display: grid;
    place-content: center;   
    
        
}
@media (max-width: 400px){
    .container{
        display: block;

    }
}

.imj{ 
    width: 600px;
    border-radius: 50%;    
    
}
